<div data-label="menu_benvenuto_pin" class="ax_dynamic_panel" id="u0" style="z-index: 1001; visibility: hidden; display: none;">
    <div data-label="Benvenuto" class="panel_state" id="u0_state0" style="width: 1920px; height: 94px;">
        <div class="panel_state_content" id="u0_state0_content">

            <!-- menu_benvenuto_active_no_pin (Image) -->
            <div data-label="menu_benvenuto_active_no_pin" class="ax_image" id="u1" style="">
                <img src="/etc/designs/eurobetconsulting/images/splash_page_no_log_desktop/menu_benvenuto_active_no_pin_u1.png" class="img " id="u1_img">
                <!-- Unnamed () -->
                <div class="text" id="u2" style="top: 47px; transform-origin: 958px 0px 0px;">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u3" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u3_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u4" style="top: 47px; transform-origin: 68px 0px 0px;">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u5" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u5_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u6" style="top: 47px; transform-origin: 68px 0px 0px;">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u7" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u7_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u8" style="top: 47px; transform-origin: 68px 0px 0px;">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u9" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u9_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u10" style="top: 47px; transform-origin: 68px 0px 0px;">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u11" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u11_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u12" style="top: 47px; transform-origin: 68px 0px 0px;">
                    <p><span></span></p>
                </div>
            </div>
        </div>
    </div>
    <div data-label="Sport" class="panel_state" id="u0_state1" style="display: none; visibility: hidden; width: 1920px; height: 94px;">
        <div class="panel_state_content" id="u0_state1_content">

            <!-- Unnamed (Image) -->
            <div class="ax_image" id="u13" style="">
                <img src="/etc/designs/eurobetconsulting/images/splash_page_no_log_desktop/u13.png" class="img " id="u13_img">
                <!-- Unnamed () -->
                <div class="text" id="u14">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u15" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u15_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u16">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u17" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u17_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u18">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u19" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u19_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u20">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u21" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u21_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u22">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u23" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u23_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u24">
                    <p><span></span></p>
                </div>
            </div>
        </div>
    </div>
    <div data-label="Casinò" class="panel_state" id="u0_state2" style="display: none; visibility: hidden; width: 1920px; height: 94px;">
        <div class="panel_state_content" id="u0_state2_content">

            <!-- Unnamed (Image) -->
            <div class="ax_image" id="u25" style="">
                <img src="/etc/designs/eurobetconsulting/images/splash_page_no_log_desktop/u25.png" class="img " id="u25_img">
                <!-- Unnamed () -->
                <div class="text" id="u26">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u27" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u27_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u28">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u29" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u29_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u30">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u31" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u31_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u32">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u33" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u33_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u34">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u35" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u35_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u36">
                    <p><span></span></p>
                </div>
            </div>
        </div>
    </div>
    <div data-label="Bingo" class="panel_state" id="u0_state3" style="display: none; visibility: hidden; width: 1920px; height: 94px;">
        <div class="panel_state_content" id="u0_state3_content">

            <!-- Unnamed (Image) -->
            <div class="ax_image" id="u37" style="">
                <img src="/etc/designs/eurobetconsulting/images/splash_page_no_log_desktop/u37.png" class="img " id="u37_img">
                <!-- Unnamed () -->
                <div class="text" id="u38">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u39" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u39_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u40">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u41" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u41_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u42">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u43" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u43_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u44">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u45" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u45_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u46">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u47" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u47_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u48">
                    <p><span></span></p>
                </div>
            </div>
        </div>
    </div>
    <div data-label="Poker" class="panel_state" id="u0_state4" style="display: none; visibility: hidden; width: 1920px; height: 94px;">
        <div class="panel_state_content" id="u0_state4_content">

            <!-- Unnamed (Image) -->
            <div class="ax_image" id="u49" style="">
                <img src="/etc/designs/eurobetconsulting/images/splash_page_no_log_desktop/u49.png" class="img " id="u49_img">
                <!-- Unnamed () -->
                <div class="text" id="u50">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u51" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u51_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u52">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u53" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u53_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u54">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u55" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u55_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u56">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u57" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u57_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u58">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u59" style="cursor: pointer;">
                <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " id="u59_img" tabindex="0">
                <!-- Unnamed () -->
                <div class="text" id="u60">
                    <p><span></span></p>
                </div>
            </div>
        </div>
    </div>
</div>



