<header>
<div data-label="header_gioca + eurobet_nolog_no_pin" class="ax_dynamic_panel" id="u90">
    <div data-label="State1" class="panel_state" id="u90_state0" style="width: 1920px; height: 151px;">
        <div class="panel_state_content" id="u90_state0_content">

            <!-- header_eurobet_no_log_no_pin (Image) -->
            <div data-label="header_eurobet_no_log_no_pin" class="ax_image" id="u91">
                <img src="/etc/designs/eurobetconsulting/images/splash_page_no_log_desktop/header_eurobet_no_log_no_pin_u91.png" class="img " id="u91_img">
                <!-- Unnamed () -->
                <div class="text" id="u92" style="top: 42px; transform-origin: 958px 0px 0px;">
                    <p><span></span></p>
                </div>
            </div>

            <!-- header_gioca_responsabile (Image) -->
            <div data-label="header_gioca_responsabile" class="ax_image" id="u93">
                <img src="/etc/designs/eurobetconsulting/images/splash_page_no_log_desktop/header_gioca_responsabile_u93.png" class="img " id="u93_img">
                <!-- Unnamed () -->
                <div class="text" id="u94" style="top: 34px; transform-origin: 958px 0px 0px;">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Email (Text Field) -->
            <div data-label="Email" class="ax_text_field" id="u95">
                <input type="email" value="" id="u95_input" tabindex="0" style="font-family: &quot;Lato-LightItalic&quot;,&quot;Lato Light Italic&quot;,&quot;Lato&quot;; font-size: 18px; font-weight: 200; font-style: italic; color: rgb(255, 255, 255); opacity: 1;">
            </div>

            <!-- password (Text Field) -->
            <div data-label="password" class="ax_text_field" id="u96">
                <input type="text" value="" id="u96_input" tabindex="0" style="font-family: &quot;Lato-LightItalic&quot;,&quot;Lato Light Italic&quot;,&quot;Lato&quot;; font-size: 18px; font-weight: 200; font-style: italic; color: rgb(255, 255, 255); opacity: 1;">
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_shape" id="u97">
                <img src="/etc/designs/eurobetconsulting/images/splash_page_no_log_desktop/u97.png" class="img " id="u97_img">
                <!-- Unnamed () -->
                <div class="text" id="u98" style="top: 12px; transform-origin: 206px -0.5px 0px;">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div class="ax_paragraph" id="u99">
               <!-- <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img" id="u99_img"> -->
                <!-- Unnamed () -->
                <!--<div class="text" id="u100">
                    <p id="cache0" style=""><span id="cache1" style="">Username/Password dimenticata?</span></p>
                </div> -->
            </div>

            <!-- Unnamed (Hot Spot) -->
            <div class="ax_hot_spot" id="u101" tabindex="0" style="cursor: pointer;">
            </div>

            <!-- Unnamed (Hot Spot) -->
            <div class="ax_hot_spot" id="u102" tabindex="0" style="cursor: pointer;">
            </div>

            <!-- Unnamed (Hot Spot) -->
            <div class="ax_hot_spot" id="u103" tabindex="0" style="cursor: pointer;">
            </div>
        </div>
    </div>
</div>
</header>