<div data-label="menu_benvenuto_active_no_pin" class="ax_image" id="u61" style="
    text-align: center;
    color: white;">
    <!-- /* <img src="/etc/designs/eurobetconsulting/images/splash_page_no_log_desktop/menu_benvenuto_active_no_pin_u1.png" class="img " id="u61_img"> */-->
    <div class="panel_state ax_paragraph text" style="background:whitesmoke; font-size: 30px;">
        <sly data-sly-list.child="${currentPage.listChildren}">
            <div style="display: inline;"><a style="margin: 50px;" href="${child.path}.html">${child.title}</a></div>
        </sly>
    </div>
    <!-- Unnamed () -->
    <div class="text" id="u62" style="top: 47px; transform-origin: 958px 0px 0px;">
        <p><span></span></p>
    </div>
</div>

<!-- /*<sly data-sly-list.child="${currentPage.listChildren}">
    <div class="ax_shape element" style="cursor: pointer;">
        <img src="/etc/designs/eurobetconsulting/resources/images/transparent.gif" class="img " tabindex="0">
        <div class="text" style="top: 47px; transform-origin: 68px 0px 0px;">
            <p><span></span></p>
        </div>
    </div>
</sly>
*/ -->


<style>
    .text {
        text-align: left;
        color: black;
        font-family: sans-serif;
        font-style: oblique;
    }
</style>